/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* global */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(-45deg, #f802c3, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 60s ease infinite;
}

.form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-label, .form-input {
    display: block;
    width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
